<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/header %>
</head>
<body>
    <% include ./partials/navtabG %>
    <% include ./partials/footer %>
</body>
    <link type="text/css " rel="stylesheet " href="css/pagespecefic/culture.css " />
    <script src="js/d3/d3.3.5.5.min.js"></script>
    <script src="js/pagespecefic/culture.js"></script>
</html>

