<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/header %>
</head>
 <body>
    <% include ./partials/navtabI %>
    <div id="arbor">
		<canvas id="sitemap" width="1200" height="900"></canvas>
	</div>    
    <% include ./partials/footer %>
</body>
	<link type="text/css " rel="stylesheet " href="css/pagespecefic/opensource.css" />
 	<script src="js/d3/d3.3.5.5.min.js"></script>
	<script src="js/jquery/jquery.address-1.4.min.js"></script>
	<script src="js/arbor/arbor.js"></script>
	<script src="js/arbor/arbor-tween.js"></script>
	<script src="js/arbor/arbor-graphics.js"></script>   
	<script src="js/pagespecefic/opensource.js"></script>
</html>