<div id="navtab">
	<!-- Author Agustin Ortiz: http://codepen.io/Creaticode/pen/ecAmo -->
	<ul id="accordion" class="accordion">
		<li>
			<div class="link"><i class="fa fa-paint-brush"></i>Grammatica<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
				<li><a href="/">home</a></li>
				<li><a href="/about">about</a></li>
				<li><a href="/lingo">lingo</a></li>
	 			<li><a href="/intellection">intellection</a></li>
	 			<li><a href="/culture">culture</a></li>
			</ul>
		</li>
		<li class="default open">
			<div class="link"><i class="fa fa-code"></i>Informatica<i class="fa fa-chevron-down"></i></div>
			<ul class="submenu">
				<li><a href="/frontend">frontend</a></li>
	 			<li><a href="/backend">backend</a></li>
	 			<li><a href="/stack">stack</a></li>
	 			<li><a href="/mobile">mobile</a></li>
	 			<li><a href="/opensource">nifty</a></li>
				<li><a href="/infrastructure">infrastructure</a></li>
	 			<li><a href="/utilities">utilities</a></li>	 
			</ul>
		</li>
	</ul>
</div>
